/* Museo700-Regular.otf */
@font-face {
	font-family: 'Museo700';
	src: url('../fonts/museo700-regular.woff2') format('woff2'),
	     url('../fonts/museo700-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
